<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The NYC Property Sales</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>
	<link href="../static/style.css" rel="stylesheet">
</head>

<body>
	<div class="post-header">
		<h1 class="display-3">The NYC Property Sales</h1>
	</div>
	<br>
	<br>
	<h3>The New York City Real Estates</h3>
	<br>
	<p>If you’re at all interested in the NYC real estate market, there’s one question that keeps coming up - how is
		coronavirus impacting NYC real estate? It’s safe to assume the overall impact is not good but how worried should
		buyers and sellers be?</p>
	<br>
	<p>The inability to see properties during lockdown resulted in a dramatic decline in transaction count. Normally,
		the NYC sees about 7,000 sold counts in June 2018 and 2019 but this year it was about 3,000 and even less than 3,000 in April.
	</p>


	<div class='tableauPlaceholder' id='viz1599865788069' style='position: relative'><noscript><a href='#'><img alt=' '
					src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;DynamicsSeason&#47;1_rss.png'
					style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
			<param name='embed_code_version' value='3' />
			<param name='site_root' value='' />
			<param name='name' value='NewYorkPropertyMarket&#47;DynamicsSeason' />
			<param name='tabs' value='no' />
			<param name='toolbar' value='yes' />
			<param name='static_image'
				value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;DynamicsSeason&#47;1.png' />
			<param name='animate_transition' value='yes' />
			<param name='display_static_image' value='yes' />
			<param name='display_spinner' value='yes' />
			<param name='display_overlay' value='yes' />
			<param name='display_count' value='yes' />
			<param name='language' value='en' /></object></div>
	<script type='text/javascript'>                    var divElement = document.getElementById('viz1599865788069');
		var vizElement = divElement.getElementsByTagName('object')[0];
		if (divElement.offsetWidth > 800) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else if (divElement.offsetWidth > 500) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; }
		var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
		vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
	<br>
	<br>
	<br>
	<p>So transactions are down dramatically. What about prices? During pandamic, the NYC median property prices have
		not fallen at all. The real estate industry doesn’t have such a pattern. If you see the below chart, no month
		always stayed on a peak or a valley. That means the trading
		volume wasn’t affected by seasons or months. It was constantly changing.</p>
	<br>
	<div class='tableauPlaceholder' id='viz1599890665031' style='position: relative'><noscript><a href='#'><img alt=' '
					src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;MedianSalesPrices&#47;1_rss.png'
					style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
			<param name='embed_code_version' value='3' />
			<param name='site_root' value='' />
			<param name='name' value='NewYorkPropertyMarket&#47;MedianSalesPrices' />
			<param name='tabs' value='no' />
			<param name='toolbar' value='yes' />
			<param name='static_image'
				value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;MedianSalesPrices&#47;1.png' />
			<param name='animate_transition' value='yes' />
			<param name='display_static_image' value='yes' />
			<param name='display_spinner' value='yes' />
			<param name='display_overlay' value='yes' />
			<param name='display_count' value='yes' />
			<param name='language' value='en' /></object></div>
	<script type='text/javascript'>                    var divElement = document.getElementById('viz1599890665031');
		var vizElement = divElement.getElementsByTagName('object')[0];
		if (divElement.offsetWidth > 800) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else if (divElement.offsetWidth > 500) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; }
		var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
		vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
	<br>
	<br>
	<br>
	<p>The following chart illustrates aspects of the NYC property market. Manhattan has the highest median property
		sales price and The Bronx has the highest volume for 12 months total since July 2019. </p>
	<div class='tableauPlaceholder' id='viz1599890766170' style='position: relative'><noscript><a href='#'><img alt=' '
					src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;MarketBreakdown&#47;1_rss.png'
					style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
			<param name='embed_code_version' value='3' />
			<param name='site_root' value='' />
			<param name='name' value='NewYorkPropertyMarket&#47;MarketBreakdown' />
			<param name='tabs' value='no' />
			<param name='toolbar' value='yes' />
			<param name='static_image'
				value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;MarketBreakdown&#47;1.png' />
			<param name='animate_transition' value='yes' />
			<param name='display_static_image' value='yes' />
			<param name='display_spinner' value='yes' />
			<param name='display_overlay' value='yes' />
			<param name='display_count' value='yes' />
			<param name='language' value='en' /></object></div>
	<script type='text/javascript'>                    var divElement = document.getElementById('viz1599890766170');
		var vizElement = divElement.getElementsByTagName('object')[0];
		if (divElement.offsetWidth > 800) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else if (divElement.offsetWidth > 500) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; }
		var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
		vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
	<br>
	<br>
	<br>
	<p>A review of year-over-year changes in the number of luxury residential sales around NYC this past summer. All
		boroughs
		have seen astounding decreases. The NYC luxury property sales declined year over year.</p>
	<div class='tableauPlaceholder' id='viz1599890879347' style='position: relative'><noscript><a href='#'><img alt=' '
					src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;LuxuryProperty&#47;1_rss.png'
					style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
			<param name='embed_code_version' value='3' />
			<param name='site_root' value='' />
			<param name='name' value='NewYorkPropertyMarket&#47;LuxuryProperty' />
			<param name='tabs' value='no' />
			<param name='toolbar' value='yes' />
			<param name='static_image'
				value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;LuxuryProperty&#47;1.png' />
			<param name='animate_transition' value='yes' />
			<param name='display_static_image' value='yes' />
			<param name='display_spinner' value='yes' />
			<param name='display_overlay' value='yes' />
			<param name='display_count' value='yes' />
			<param name='language' value='en' /></object></div>
	<script type='text/javascript'>                    var divElement = document.getElementById('viz1599890879347');
		var vizElement = divElement.getElementsByTagName('object')[0];
		if (divElement.offsetWidth > 800) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else if (divElement.offsetWidth > 500) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; }
		var scriptElement = document.createElement('script');
		scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
		vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
	<br>
	<br>
	<br>
	<p>The chart below is for NYC residential property sales by era of construction. The big era of NYC residential
		property construction began in the 1920's and recently built houses are the highest median price.</p>
	<div class='tableauPlaceholder' id='viz1599890920397' style='position: relative'><noscript><a href='#'><img alt=' '
					src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;EraPie&#47;1_rss.png'
					style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
			<param name='embed_code_version' value='3' />
			<param name='site_root' value='' />
			<param name='name' value='NewYorkPropertyMarket&#47;EraPie' />
			<param name='tabs' value='no' />
			<param name='toolbar' value='yes' />
			<param name='static_image'
				value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;EraPie&#47;1.png' />
			<param name='animate_transition' value='yes' />
			<param name='display_static_image' value='yes' />
			<param name='display_spinner' value='yes' />
			<param name='display_overlay' value='yes' />
			<param name='display_count' value='yes' />
			<param name='language' value='en' /></object></div>
	<script type='text/javascript'>                    var divElement = document.getElementById('viz1599890920397');
		var vizElement = divElement.getElementsByTagName('object')[0];
		if (divElement.offsetWidth > 800) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else if (divElement.offsetWidth > 500) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; }
		var scriptElement = document.createElement('script');
		scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
		vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
	<br>
	<br>
	<br>
	<p>The color of the map varies depending on the number of houses sold in the area by zip code, and you can see the volume of
		transactions by type by clicking on the area.</p>
	<div class='tableauPlaceholder' id='viz1599890953424' style='position: relative'><noscript><a href='#'><img alt=' '
					src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;NYMap&#47;1_rss.png'
					style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
			<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
			<param name='embed_code_version' value='3' />
			<param name='site_root' value='' />
			<param name='name' value='NewYorkPropertyMarket&#47;NYMap' />
			<param name='tabs' value='no' />
			<param name='toolbar' value='yes' />
			<param name='static_image'
				value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ne&#47;NewYorkPropertyMarket&#47;NYMap&#47;1.png' />
			<param name='animate_transition' value='yes' />
			<param name='display_static_image' value='yes' />
			<param name='display_spinner' value='yes' />
			<param name='display_overlay' value='yes' />
			<param name='display_count' value='yes' />
			<param name='language' value='en' /></object></div>
	<script type='text/javascript'>                    var divElement = document.getElementById('viz1599890953424');
		var vizElement = divElement.getElementsByTagName('object')[0];
		if (divElement.offsetWidth > 800) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else if (divElement.offsetWidth > 500) { vizElement.style.width = '800px'; vizElement.style.height = '627px'; }
		else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; }
		var scriptElement = document.createElement('script');
		scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
		vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>




</body>

</html>